body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-image: url('../images/newbackground.jpg'); /* Adjust path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.game-container {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px;
  justify-content: center;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 100px); /* Adjust for smaller screens */
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(2, 100px); /* Adjust for mobile screens */
  }
}

.card {
  width: 100px;
  height: 100px;
  background-color: #4f3030;
  border-radius: 8px;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: perspective(600px) rotateY(0deg);
  transition: transform 0.5s, background-color 0.3s;
  background-image: url('../images/backk.png'); /* Adjust path */
  display: initial;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card.matched {
  background-color: #28a745;
  pointer-events: none;
}

.title {
  width: 50%; /* Adjust the percentage as needed */
  height: auto; /* Maintains the aspect ratio */
  border: 0;
}

#timer {
  background-color: #740c0a;
  color: rgb(226, 192, 192);
  height: 30px;
  width: 120px;
  margin: auto;
  text-align: center;
  text-justify: center;
  border-radius: 8px;
  box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.3);
}

#reset-button {
  background-color: #740c0a;
  border-radius: 8px;
  color: rgb(223, 203, 203);
  height: 40px; /* Increased height for better look */
  width: 120px;
  box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.3);
}

audio{
  position: absolute;
  bottom: 5px;
}
